<h1>This feature under construction. Please bear with us as we prepare to launch our full site.</h1>

<!-- <div class="card card-default">
  <div class="card-body form-group">
    <label>Title:</label>
    <input class="form-control" #name>

    <label>Medium:</label>
    <input class="form-control" #medium>

    <label>Project Description:</label>
    <textare class="form-control" #info>

    <label>Image URLs (at this time we are unable to host your images for you but can display images hosted elsewhere if you provide us with URLs, please bear with us as we grow and add new features):</label>
    <input class="form-control" #image1>
    <input class="form-control" #image2>
    <input class="form-control" #image3>
    <input class="form-control" #image4>
    <br>
    <button type="button" class="btn btn-secondary" (click)="submitProjectForm(name.value, medium.value, info.value, [image1.value, image2.value, image3.value, image4.value])">Submit</button>
  </div>
</div> -->
