<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CNVS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/projects">Discover<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/events">Events</a>
      </li>
    </ul>

    <div class="nav navbar-nav navbar-right">
      <div *ngIf="isLoggedIn">
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle" data-toggle="dropdown">{{userName}}</button>
          <div class="dropdown-menu username">
            <a class="dropdown-item userFeature" (click)="goToUsersPage(userName)">Profile</a>
            <a class="dropdown-item userFeature">New Project</a>
            <a class="dropdown-item userFeature">New Event</a>
            <a class="dropdown-item userFeature" (click)="logout()">Log out</a>
          </div>
       </div>
     </div>
     <div *ngIf ="!isLoggedIn">
       <a (click)="login()">Log in</a>
       <a>Sign up</a>
     </div>
   </div>

  </div>
</nav>
