<div class="card card-default">
  <div class="card-body form-group">
    <label>Name:</label>
    <input class="form-control" #name>

    <label>Medium:</label>
    <input class="form-control" #medium>

    <label>Location:</label>
    <input class="form-control" #location>

    <label>Artist Statement:</label>
    <input class="form-control" #statement>

    <label>Email address:</label>
    <input class="form-control" #email>

    <label>Password:</label>
    <input type="password" class="form-control" #password>

    <button type="button" class="btn btn-secondary" (click)="submitSignupForm(name.value, medium.value, location.value, statement.value, email.value, password.value)" routerLink="">Submit</button>
  </div>
</div>
